<div class="custom-login-form mt-2 w-full sm:w-3/4 md:w-1/2 mx-auto">
  <h2 class="title">Edit <%= resource_name.to_s.humanize %></h2>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: 'form' }) do |f| %>
    <%= f.error_notification %>

    <!-- Email Input -->
    <%= f.input :email,
                required: true,
                label: false,
                autofocus: true,
                input_html: { autocomplete: "email", placeholder: "Email", class: "input" }
    %>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p class="mt-2">Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
    <% end %>

    <!-- Password Input -->
    <%= f.input :password,
                hint: "leave it blank if you don't want to change it",
                label: false,
                required: false,
                input_html: { autocomplete: "new-password", placeholder: "New Password", class: "input" }
    %>

    <!-- Password Confirmation Input -->
    <%= f.input :password_confirmation,
                label: false,
                required: false,
                input_html: { autocomplete: "new-password", placeholder: "Confirm New Password", class: "input" }
    %>

    <!-- Current Password Input -->
    <%= f.input :current_password,
                hint: "we need your current password to confirm your changes",
                label: false,
                required: true,
                input_html: { autocomplete: "current-password", placeholder: "Current Password", class: "input" }
    %>

    <%= f.button :submit, "Update", class: "btn-success" %>
  <% end %>
  <div class="mt-4">
    <%= link_to "Back", :back, class: "btn-secondary p-2 rounded" %>
  </div>
</div>
