<h1 class="text-center tipo mt-2 mb-4">Bienvenido</h1>
<div class="row p-2 rounded flex flex-col md:flex-row items-center">
  <div class="col-6 md:w-1/2 p-2">
    <div id="carouselExampleSlidesOnly1" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active d-flex justify-content-center">
          <%= image_tag "felipe2.jpg", class: "d-block w-full md:w-1/2 rounded-image", alt: "..." %>
        </div>
        <div class="carousel-item">
          <%= image_tag "felipe1.jpg", class: "d-block w-full md:w-1/2 rounded-image", alt: "..." %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-6 md:w-1/2 p-2">
    <div id="carouselExampleSlidesOnly2" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active d-flex justify-content-center">
          <%= image_tag "junior1.jpg", class: "d-block w-full md:w-1/2 rounded-image", alt: "..." %>
        </div>
        <div class="carousel-item">
          <%= image_tag "junior2.jpg", class: "d-block w-full md:w-1/2 rounded-image", alt: "..." %>
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex text-center justify-content-center w-full mt-4">
    <%= link_to sales_path, class: "button-link" do %>
      <div class="container-button">
        <div class="hover bt-1"></div>
        <div class="hover bt-2"></div>
        <div class="hover bt-3"></div>
        <div class="hover bt-4"></div>
        <div class="hover bt-5"></div>
        <div class="hover bt-6"></div>
        <button class="special-button"></button>
      </div>
    <% end %>
  </div>
</div>
