<div class="custom-login-form mt-2 w-full sm:w-3/4 md:w-1/2 mx-auto">
  <h2 class="title">Login</h2>

  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'form' }) do |f| %>
    <!-- Email Input -->
    <%= f.input :email, required: false, label: false, autofocus: true, input_html: { autocomplete: "email", placeholder: "Email", class: "input" } %>

    <!-- Password Input -->
    <%= f.input :password, required: false, label: false, input_html: { autocomplete: "current-password", placeholder: "Password", class: "input" } %>

    <!-- Remember Me Checkbox (if applicable) -->
    <% if devise_mapping.rememberable? %>
      <div>
        <%= f.input :remember_me, as: :boolean, wrapper_html: { class: 'remember-me-wrapper' }, input_html: { class: 'remember-me-input' } %>
      </div>
    <% end %>
    <%= f.button :submit, "Let's go →", class: "btn-success" %>
  <% end %>
  <div class="mt-4">
    <%= render "devise/shared/links" %>
  </div>
</div>
