  <div class="text-center">
    <%= simple_form_for [@product, @sale] do |f| %>
      <%= f.input :tipo_producto, autofocus: true  %>
      <%= f.input :precio  %>
      <%= f.input :cantidad  %>
      <%= f.input :fecha  %>
      <%= f.submit class: "btn btn-success", data:{turbo_method: :update, turbo_confirm: "Are you sure?" } %>
    <% end %>
  </div>
