<h1>Añadir Nuevo Producto</h1>

<%= simple_form_for @product do |f| %>
  <%= f.input :tipo_producto, label: "Nombre del Producto" %>
  <%= f.input :precio, label: "Precio" %>
  <%= f.input :cantidad, label: "Stock" %>
  <%= f.submit "Añadir Producto", class: "btn btn-primary" %>
<% end %>
