<div class="banner rounded mt-2" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://ferremakros.com/wp-content/uploads/2019/07/Bodegas-HD.jpg);">
  <div class="container">
    <h1>Disponibilidad de STOCK</h1>
    <p>Change your life and learn to code at one of our campuses around the world.</p>
  </div>
</div>


  <div class="row">
    <div class="col-6 text-center">
      <div class="badge bg-primary text-wrap mt-1" style="width: 10rem; font-size: 20px;">
          Stock Valcal
      </div>
      <div class="table-responsive">
        <table class="table mt-2">
          <thead class="thead-dark">
            <tr>
              <th>ID</th>
              <th>Producto</th>
              <th>Precio</th>
              <th>Stock</th>
              <th>Restan</th>
            </tr>
          </thead>
          <tbody>
            <% @admin2_products.each do |product| %>
              <tr>
                <td><%= product.id %></td>
                <td><%= product.tipo_producto %></td>
                <td><%= number_to_currency(product.precio, precision: 0, unit: "$", separator: ",", delimiter: ".") %></td>
                <td><%= product.cantidad %></td>
                <td>
                  <% sold_quantity = Sale.where(product: product).sum(:cantidad) %>
                  <%= [0, product.cantidad.to_i - sold_quantity].max %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>

    <div class="col-6 text-center">
      <div class="badge bg-primary text-wrap mt-1" style="width: 10rem; font-size: 20px;">
          Stock Planchas
      </div>
      <div class="table-responsive">
        <table class="table mt-2">
          <thead class="thead-dark">
            <tr>
              <th>ID</th>
              <th>Producto</th>
              <th>Precio</th>
              <th>Stock</th>
              <th>Restan</th>
            </tr>
          </thead>
          <tbody>
            <% @admin1_products.each do |product| %>
              <tr>
                <td><%= product.id %></td>
                <td><%= product.tipo_producto %></td>
                <td><%= number_to_currency(product.precio, precision: 0, unit: "$", separator: ",", delimiter: ".") %></td>
                <td><%= product.cantidad %></td>
                <td>
                  <% sold_quantity = Sale.where(product: product).sum(:cantidad) %>
                  <%= [0, product.cantidad.to_i - sold_quantity].max %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>

  </div>
