<h1>Ventas</h1>
<%= link_to "Semana anterior", sales_path(week_offset: (params[:week_offset].present? ? params[:week_offset].to_i : 0) + 1), class: "btn btn-primary" %>
<%= link_to "Semana siguiente", sales_path(week_offset: (params[:week_offset].present? ? params[:week_offset].to_i : 0) - 1), class: "btn btn-primary" %>
<p class="text-center">
  Mostrando ventas de la semana del <%= @formatted_start_of_week %> al <%= @formatted_end_of_week %>
</p>
<!-- Bot贸n Crear Producto -->
<a href="<%= new_sale_path %>" class="btn btn-primary btn-icon-split my-2 my-md-0 mr-md-2">
  <span class="icon text-white-50">
    <i class="fa-solid fa-square-plus"></i>
  </span>
  <span class="text">Crear Producto</span>
</a>

<!-- Bot贸n Exportar a Excel (solo para admin) -->
<% if current_user.role == 'admin' %>
  <a href="<%= sales_path(format: :xlsx) %>" class="btn btn-success btn-icon-split my-2 my-md-0">
    <span class="icon text-white-50">
        <i class="fa-regular fa-file-excel"></i>
    </span>
    <span class="text">Exportar a Excel</span>
  </a>
<% end %>

<br><br>
<div class="table-responsive">
  <table class="table">
    <thead>
      <tr class="text-center">
        <th>Vendedor</th>
        <th>Producto</th>
        <th>Precio</th>
        <th>Cantidad</th>
        <th>Fecha</th>
        <th>Acci贸n</th>
    </thead>
    <tbody>
      <% @sales.each do |sale| %>
        <tr class="text-center">
          <td><%= sale.user.name %></td>
          <td><%= sale.product.tipo_producto %></td> <!-- Suponiendo que quieres mostrar el nombre del producto -->
          <td><%= number_to_currency(sale.product.precio_stgo, precision: 0, unit: "$", separator: ",", delimiter: ".") %></td>
          <td ><%= sale.cantidad %></td>
          <td><%= sale.fecha %></td>
          <td>
            <%= link_to sale_path(sale), class:"btn btn-danger", data:{turbo_method: :delete, turbo_confirm: "Are you sure?" } do %>
              <i class="fa-solid fa-circle-minus"></i>
            <% end %>

            <%= link_to edit_sale_path(sale), class:"btn btn-primary" do %>
              <i class="fa-solid fa-pen-to-square"></i>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
    <tfoot>
      <tr class="text-center">
        <td colspan="1" class="text-right"><strong>Total de Venta: </strong><%= number_to_currency(@total_venta_stgo, precision: 0, unit: "$", separator: ",", delimiter: ".") %></td>
        <td colspan="2" class="text-right"><strong>Comisi贸n Semanal: </strong><%= number_to_currency(@comision, precision: 0, unit: "$", separator: ",", delimiter: ".") %></td>
        <td colspan="1" class="text-right"><strong>Pago a Proveedor: </strong><%= number_to_currency(@total_venta, precision: 0, unit: "$", separator: ",", delimiter: ".") %></td>
        <td colspan="2" class="text-right"><strong>Cantidad de Ventas: </strong><%= @cantidad_vendida %></td>
      </tr>
    </tfoot>
  </table>
</div>
<%= pagy_bootstrap_nav(@pagy).html_safe %>
