<h1>Listado de productos</h1>
<a href="<%= new_sale_path %>" class="btn btn-primary btn-icon-split">
  <span class="icon text-white-50">
    <i class="fa-solid fa-square-plus"></i>
  </span>
  <span class="text">Crear Producto</span>
</a>
<a href="<%= sales_path(format: :xlsx) %>" class="btn btn-success btn-icon-split">
  <span class="icon text-white-50">
      <i class="fa-regular fa-file-excel"></i>
  </span>
  <span class="text">Exportar a Excel</span>
</a>
<br><br>
<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Producto</th>
      <th>Precio</th>
      <th>Cantidad</th>
      <th>Fecha</th>
      <th>Acción</th>
  </thead>
  <tbody>
    <% @sales.each do |sale| %>
      <tr>
        <td><%= sale.id %></td>
        <td><%= sale.product.tipo_producto %></td> <!-- Suponiendo que quieres mostrar el nombre del producto -->
        <td><%= sale.product.precio %></td>
        <td><%= sale.cantidad %></td>
        <td><%= sale.fecha %></td>
        <td>
          <%= link_to sale_path(sale), class:"btn btn-danger", data:{turbo_method: :delete, turbo_confirm: "Are you sure?" } do %>
            <i class="fa-solid fa-circle-minus"></i>
          <% end %>

          <%= link_to edit_sale_path(sale), class:"btn btn-primary" do %>
            <i class="fa-solid fa-pen-to-square"></i>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
