<%= simple_form_for [@product, @sale], html: { id: 'sale_form', class: 'custom-sale-form' } do |f| %>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-8 col-lg-6">
        <div class="m-3 p-3 border shadow-lg rounded">
          <form class="form">
                <div class="d-flex justify-content-around mb-3">
                  <%= select_tag :admin_id, options_from_collection_for_select(User.where(role: 'admin'), "id", "name", params[:admin_id]), prompt: "Selecciona un Distribuidor", onchange: "window.location.href = '?admin_id=' + this.value;", class: 'form-control w-45' %>
                  <%= f.select :product_id, options_for_select(product_options_with_remaining_stock(@admin_products), selected: f.object.product_id), { prompt: "Selecciona un Producto" }, class: 'form-control w-45' %>
                </div>
                <%= f.input :cantidad, label: "Cantidad", input_html: { class: 'form-control' } %>
                <%= f.input :fecha, order: [:day, :month, :year], html5: true, input_html: { class: 'form-control' } %>
                <div class="text-center mt-4">
                  <%= f.submit "Registrar Venta", class: 'btn btn-success' %>
                </div>
          </form>
        </div>
      </div>
    </div>
  </div>
<% end %>
