<!DOCTYPE html>
<html>
  <head>
    <title>Churrascal</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Young+Serif&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body id="page-top">
    <div class="dropdown ml-auto">
      <button class="btn btn-primary d-lg-none" type="button" data-toggle="collapse" data-target="#accordionSidebar" aria-controls="accordionSidebar" aria-expanded="false" aria-label="Toggle navigation">Menu</button>
      <div class="dropdown-content">
        <% if !user_signed_in? %>
          <%= link_to "Home", "/" %>
        <% else %>
          <%= link_to "Productos", sales_path %>
          <%= link_to "Mi Stock", products_path %>
        <% end %>
      </div>
    </div>

    <div class="collapse d-lg-block" id="accordionSidebar">
    </div>
    <div id="wrapper">
      <ul class="navbar-nav colorbarra sidebar sidebar-dark accordion collapse d-lg-block" id="accordionSidebar">
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
          <div class="sidebar-brand-icon rotate-n-15">
            <i class="fa-brands fa-space-awesome"></i>
          </div>
          <div class="sidebar-brand-text mx-3">CHURRASCAL</div>
        </a>

        <hr class="sidebar-divider my-0">

        <% if !user_signed_in? %>
          <li class="nav-item">
            <a class="nav-link" href="/">
              <i class="fa-solid fa-house"></i>
              <span>Home</span>
            </a>
          </li>
          <!-- Divider -->
          <hr class="sidebar-divider">
        <% else %>
          <li class="nav-item">
            <a class="nav-link" href="<%= sales_path %>">
              <i class="fa-solid fa-hand-holding-dollar"></i>
              <span>Productos</span>
            </a>
          </li>
          <hr class="sidebar-divider">
          <% if current_user.role == "admin" %>
            <li class="nav-item">
              <a class="nav-link" href="<%= products_path %>">
                <i class="fa-solid fa-socks"></i>
                <span>Mi Stock</span>
              </a>
            </li>
            <hr class="sidebar-divider">
            <li class="nav-item">
              <a class="nav-link" href="#">
                <i class="fa-solid fa-chart-pie"></i>
                <span>Mis Gráficos</span>
              </a>
            </li>
            <hr class="sidebar-divider">
            <li class="nav-item">
              <a class="nav-link" href="#">
                <i class="fa-solid fa-user-group"></i>
                <span>Mejor Vendedor</span>
              </a>
            </li>
          <% end %>
        <% end %>
      </ul>
      <!-- End of Sidebar -->
      <!-- Content Wrapper -->
      <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
          <!-- Topbar -->
          <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
            <div class="dropdown ml-auto">
              <% if user_signed_in? %>
                <p class="badge bg-secondary text-wrap">Hola, <%= current_user.name %>!</p>
              <% end %>
              <button class="btn btn-primary">Menu</button>
              <div class="dropdown-content my-dropdown-content">
                <% if user_signed_in? %>
                  <a href="<%= edit_user_registration_path %>">Mi Perfil</a>
                  <a href="<%= destroy_user_session_path %>" data-turbo-method="delete">Salir</a>
                <% else %>
                  <a href="<%= new_user_session_path %>">Entrar</a>
                  <a href="<%= new_user_registration_path %>">Registrarse</a>
                <% end %>
              </div>
            </div>
          </nav>
          <!-- End of Topbar -->
          <!-- Begin Page Content -->
          <div class="container-fluid">
            <!-- Page Heading -->
            <%= yield %>
          </div>
          <!-- /.container-fluid -->
        </div>
        <!-- End of Main Content -->
        <!-- Footer -->
        <footer class="sticky-footer bg-white">
          <div class="container my-auto">
            <div class="copyright text-center my-auto">
              <span>Copyright &copy; Churrascal 2023</span>
            </div>
          </div>
        </footer>
        <!-- End of Footer -->
      </div>
      <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>
  </body>
</html>
<style>
  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown-content a:hover {
    background-color: #ddd;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }
</style>
