<!DOCTYPE html>
<html>
  <head>
    <title>Churrascal</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Young+Serif&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body id="page-top">
    <!-- Sidebar VERSION MOVIL -->

    <!-- End of Sidebar -->
    <div id="wrapper">
      <div class="sm:ml-64">
      </div>
      <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
          <!-- Topbar -->
          <div data-controller="menu">
            <nav class="flex justify-center items-center p-2 bg-white">
              <!-- Sidebar Toggle (Topbar) -->
                <button class="block sm:hidden flex items-center p-2" data-action="click->menu#open">
                  <%= image_tag 'icons/menu.svg', width: 35, height: 35, class: "mr-2" %> <!-- Icono de Menú -->
                </button>
                <div class="text-white font-bold text-center sm:hidden absolute colorbarra top-0 left-0 shadow z-10 h-full flex flex-col min-w-[35%] overflow-y-scroll ease-in-out duration-200 p-5 -translate-x-full" data-menu-target="items">
                  <button class="d-flex justify-content-center mb-4" data-action="click->menu#close">
                    <%= image_tag 'icons/close.svg', width: 50, height: 50 %>
                  </button>
                  <%= render partial: 'shared/items' %>
                </div>
                <div class="fixed inset-0 bg-black opacity-50 hidden" data-menu-target="background"></div>
                <aside id="default-sidebar" class="fixed top-0 left-0 z-40 w-64 h-screen transition-transform -translate-x-full sm:translate-x-0" aria-label="Sidebar">
                    <div class="h-full px-3 py-4 overflow-y-auto colorbarra dark:bg-gray-800">
                        <ul class="space-y-6 font-medium">
                            <a class="sidebar-brand d-flex align-items-center justify-content-center text-white font-bold" href="/">
                              <div class="sidebar-brand-icon rotate-n-15">
                                <i class="fa-brands fa-space-awesome fa-3x"></i>
                              </div>
                              <div class="sidebar-brand-text mx-3 text-2xl">CHURRASCAL</div>
                            </a>
                            <% if !user_signed_in? %>
                              <hr class="sidebar-divider border-t-2 border-gray-100">
                                <li>
                                  <%= link_to "/", class: "flex items-center p-2 text-white font-bold rounded-lg hover:bg-gray-500 dark:hover:bg-gray-700 group no-underline" do %>
                                      <i class="fa-solid fa-house mr-2 align-middle"></i>
                                      <span>Home</span>
                                  <% end %>
                                </li>
                                <hr class="sidebar-divider border-t-2 border-gray-100">
                                <% elsif current_user.role == 'saler' %>
                                <hr class="sidebar-divider border-t-2 border-gray-100">
                                <li>
                                  <%= link_to sales_path, class: "flex items-center p-2 text-white font-bold rounded-lg hover:bg-gray-500 dark:hover:bg-gray-700 group no-underline" do %>
                                      <i class="fa-solid fa-hand-holding-dollar mr-2 align-middle"></i>
                                      <span>Productos</span>
                                  <% end %>
                                </li>
                                <hr class="sidebar-divider border-t-2 border-gray-100">
                                <li>
                                  <%= link_to stock_path, class: "flex items-center p-2 text-white font-bold rounded-lg hover:bg-gray-500 dark:hover:bg-gray-700 group no-underline" do %>
                                      <i class="fa-solid fa-boxes mr-2 align-middle"></i>
                                      <span>Ver Stock</span>
                                  <% end %>
                                </li>
                                <hr class="sidebar-divider border-t-2 border-gray-100">
                                <% elsif current_user.role == 'admin' %>
                                <hr class="sidebar-divider border-t-2 border-gray-100">
                                <li>
                                  <%= link_to sales_path, class: "flex items-center p-2 text-white font-bold rounded-lg hover:bg-gray-500 dark:hover:bg-gray-700 group no-underline" do %>
                                      <i class="fa-solid fa-hand-holding-dollar mr-2 align-middle"></i>
                                      <span>Productos</span>
                                  <% end %>
                                </li>
                                <hr class="sidebar-divider border-t-2 border-gray-100">
                                <li>
                                  <%= link_to products_path, class: "flex items-center p-2 text-white font-bold rounded-lg hover:bg-gray-500 dark:hover:bg-gray-100 group no-underline" do %>
                                      <i class="fa-solid fa-socks mr-2 align-middle"></i>
                                      <span>Mi Stock</span>
                                  <% end %>
                                </li>
                                <hr class="sidebar-divider border-t-2 border-gray-100">
                                <li>
                                  <%= link_to "#", class: "flex items-center p-2 text-white font-bold rounded-lg hover:bg-gray-500 dark:hover:bg-gray-100 group no-underline" do %>
                                      <i class="fa-solid fa-chart-pie mr-2 align-middle"></i>
                                      <span>Gráficos</span>
                                  <% end %>
                                </li>
                                <hr class="sidebar-divider border-t-2 border-gray-100">
                                <li>
                                  <%= link_to "#", class: "flex items-center p-2 text-white font-bold rounded-lg hover:bg-gray-500 dark:hover:bg-gray-100 group no-underline" do %>
                                      <i class="fa-solid fa-user-group mr-2 align-middle"></i>
                                      <span>Mejores Vendedores</span>
                                  <% end %>
                                </li>
                                <hr class="sidebar-divider border-t-2 border-gray-100">
                            <% end %>
                        </ul>
                    </div>
                </aside>

              <div class="dropdown ml-auto">
                <% if user_signed_in? %>
                  <p class="badge bg-secondary text-wrap">Hola, <%= current_user.name %>!</p>
                <% end %>
                <button class="btn btn-primary">Menu</button>
                <div class="dropdown-content my-dropdown-content">
                  <% if user_signed_in? %>
                    <a href="<%= edit_user_registration_path %>">Mi Perfil</a>
                    <a href="<%= destroy_user_session_path %>" data-turbo-method="delete">Salir</a>
                  <% else %>
                    <a href="<%= new_user_session_path %>">Entrar</a>
                    <a href="<%= new_user_registration_path %>">Registrarse</a>
                  <% end %>
                </div>
              </div>
            </nav>
          </div>
          <!-- End of Topbar -->
          <!-- Begin Page Content -->
          <div class="container-fluid">
            <!-- Page Heading -->
            <%= yield %>
          </div>
          <!-- /.container-fluid -->
        </div>
        <!-- End of Main Content -->
        <!-- Footer -->
        <footer class="sticky-footer bg-white">
          <div class="container m-auto">
            <div class="copyright text-center my-auto">
              <span>Copyright &copy; Churrascal 2023</span>
            </div>
          </div>
        </footer>
        <!-- End of Footer -->
      </div>
      <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>
  </body>
</html>
<style>
  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown-content a:hover {
    background-color: #ddd;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }
</style>
